:root {
  --primary-color: #046dff;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif,'Tiro Bangla';
}

[lang="en"] { font-family: 'Roboto', monospace; }
[lang="bn"] { font-family: 'Tiro Bangla', serif; }

/* Table header example */
.table thead tr.custom-header {
  background-color: #0dcaf0 !important;
  color: #fff !important;
}
