.auth-bg {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: url("https://www.transparenttextures.com/patterns/bright-squares.png"),
    linear-gradient(135deg, #1e3dd9, #5fcf88); */
  background: url("../../assets/b3.jpg"),
    linear-gradient(135deg, #d68b00, #000);
  background-size: cover;
}

.auth-card {
  background: white;
  padding: 25px;
  border-radius: 8px;
  width: 100%;
  max-width: 420px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
