.header {
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1060;
}
.hamburger { cursor: pointer; font-size: 1.25rem; }
.logo { color: var(--primary-color); font-weight: 500; font-size: 1.2rem; }
